<form  id="form">
  <div class="mb-3">
    <label for="title" class="form-label">Titulo</label>
    <input type="text" name="title" class="form-control" id="title" value="{{producto.title}}">
  </div>
  <div class="mb-3">
    <label for="price" class="form-label">Precio</label>
    <input type="number" class="form-control" name="price" id="price" min="0" step="0.01" value="{{producto.price}}">
  </div>
  <div class="mb-3">
    <label for="thumbnail" class="form-label">Imagen</label>
    <select name="thumbnail" id="thumbnail" class="form-select" value="{{producto.thumbnail}}">
      {{#if producto.id}}
        {{#selectedOption producto.thumbnail}}
        {{/selectedOption}}
        {{!-- {{#each imagenes}}
          <option value="{{this.path}}">{{this.label}}</option>
        {{/each}} --}}
      {{else}}
        <option selected>Seleccionar una imagen</option>
        {{#each imagenes}}
          <option value="{{this.path}}">{{this.label}}</option>
        {{/each}}
      {{/if}}
    </select>
  </div>
  <button type="submit" class="btn btn-primary" >Guardar</button>
  {{#if producto.id}}
    <button class="btn btn-danger" id="eliminar" >Eliminar producto</button>
  {{/if}}
</form>

